/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
*/
html {
  font-family: 'Open Sans', sans-serif;
}

/* General */
@media (min-width: 58rem) {
  html {
    font-size: 18px;
  }
}

.clearfix {
  clear: both;
  display: inline-block;
}

a {
  color: #f1bc33;
}

/* Sidebar */

h1 {
  display: none;
}

.sidebar {
  background: #07698D;
  color: #ffffff;
}

@media (max-width: 30rem) {
  .logo {
    max-width: 200px;
    margin: 0 auto;
  }
}


.sidebar-about h1 {
  margin: 0 0 0 -15px;
  padding: 0;
}

.sidebar-about {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 1em;
}

.sidebar-nav {
  margin-top: 20px;
}

.copyright {
  border-top: 1px solid #ffffff;
  padding-top: 1.75em;
  font-size: .8em;
}

/* Posts */

.page, .post {
  margin-bottom: 4em;
}

.post {
  border-top: 1px solid #07698d;
  padding-top: 4em;
}

.post:first-child {
  border-top: 0;
  padding-top: 0;
}

.post-title a{
  color: #07698d;
}

pre {
  color: #ffffff;
  background: #46b489;
}

.author {
    height: 40px;
    margin: 10px;
}

.author .gravatar {
    display: block;
    float: left;
}

.author .name {
    display: block;
    margin-left: 75px;
    height: 40px;
    line-height: 22px;
}

.author .name a {
    font-size: 15px;
    text-decoration: none;
}
