---
layout: default
---
<div class="ContentWrapper">

  <div class="Box">
    <div class="Box-cover" style="background-image: url({{ page.thumbnail }});"></div>
    <header class="Box-header">
      <h3 class="Box-title">{{ page.title }}</h3>
      <p class="t-caption">{{ page.date | date_to_string }}</p>
    </header>
    <div class="Box-content">
      {{ content }}
    </div>
    <div class="Box-footer">
      <figure class="Media">
        <img class="Media-img Avatar Avatar--l" src="http://www.gravatar.com/avatar/{{ site.authors[page.author].gravatar }}?s=60" />
        <figcaption class="Media-content u-pdl--m">
          <h5 class="u-mgt--0">
            {% if site.authors[page.author] %}
              {{ site.authors[page.author].name }}
            {% else %}
              {{ page.author }}
            {% endif %}
          </h5>
          <ul class="r-list">
          {% if site.authors[page.author].twitter %}
            <li><span class="t-neutral">Twitter: </span><a target="_blank" href="http://twitter.com/{{ site.authors[page.author].twitter }}">@{{ site.authors[page.author].twitter }}</a></li>
          {% endif %}
          {% if site.authors[page.author].github %}
            <li><span class="t-neutral">GitHub: </span><a target="_blank" href="http://github.com/{{ site.authors[page.author].github }}">{{ site.authors[page.author].github }}</a></li>
          {% endif %}
          </ul>
        </figcaption>
      </figure>
    </div>
  </div>

  {% include discus.html %}

  <div class="Line Line--labeled">
    <div class="Line-label">Related posts</div>
  </div>

  <div class="Boxes">
    {% for post in site.related_posts limit:site.related_limit %}
    <div class="Box">
      <div class="Box-header">
        <p class="t-title"><a href="{{ post.url }}">{{ post.title }}</a></p>
      </div>
      <div class="Box-content">
        <p class="t-caption">Posted on {{ post.date | date_to_string }}</p>
        <p class="t-caption">— by {{ site.authors[post.author].name }}</p>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
